@use "./styles/button.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.529);
  color: rgba(255, 255, 255, 0.807);
  font-family: 'Poppins', sans-serif;
}